body {
    background-color: black;
}
main{
    margin-top:10%
}
.tab-title li a {
    display: block;
    padding: 10px;
    color: #333;
    background-color: #ccc;
    text-decoration: none;
  }
  
  .tab-title li.tab a {
    color: #fff;
    background-color: #0071bc;
  }

p{
    color: $white;
}
h1 {
    font-size: $h1-s;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35% 0;
}

.h1-en {
    margin-top: 1rem;
    font-weight: bolder;
}

/* 大氣層的樣式，使用box-shadow來產生特定的陰影效果。
使用radial-gradient來模擬由中心向外的透明度變化，並且使其呈圓形。*/
.planet__atmosphere {
    box-shadow:
        -5px 0px 10px -4px #999999,
        /* 白色亮外框 */
        inset 10px 0px 12px -2px rgba(255, 255, 255, .3),
        /* 白色亮內框 */
        inset -50px 0px 50px 0px rgb(31, 30, 30);
    /*星球右側陰影*/
    height: 190px;
    width: 190px;
    position: relative;
    background: radial-gradient(circle at 30% 50%, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, 0) 65%);
    border-radius: 100px;
    overflow: hidden;
}

/* 行星地表的樣式。並且有一個旋轉和縮放的效果，模仿行星的自轉。
planetRotate的動畫，該動畫將背景位置由0%移動到-200%。 
佔據其父元素（即大氣層）的整個空間，並將其背景圖像大小設置為cover以填充整個元素。*/
.mars {
    background-image: url(/src/assets/image/destination/mars.jpg);
}

.moon {
    background-image: url(/src/assets/image/destination/moon.jpg);
}

.venus {
    background-image: url(/src/assets/image/destination/venus.jpg);
}

.planet__surface {
    transform: rotate(0.034deg) scale(1.2);
    animation: planetRotate 30s linear infinite;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
}

@keyframes planetRotate {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: -200% center;
    }
}

h3{
    color: $white;
    font-size:$h2-s;
}
.info{
    
    font-size:$p2-s;
}
.tab-title li a {
    display: block;
    padding: 10px;
    color: #333;
    background-color: #ccc;
    text-decoration: none;
  }
  
  ul.tab-title li.active a {
    color: #fff;
    background-color: #0071bc;
  }

@media screen and (min-width: 700px) {
    h1 {
        font-size: $h1-m;
    }
    .h1-ch {
        writing-mode: vertical-lr;
    }
    h3{
        font-size:$h2-m;
    }

    .info{
        font-size:$p2-m;
    }

}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: $h1-l;
    }
    h3{
        font-size:$h2-l;
    }
    .info{
        font-size:$p2-l;
    }

}

@media screen and (min-width: 1800px) {}